/* Set Breakpoint width */
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$wrapper-max-width: 1140px;
$card-m-max-width: 500px;
$card-max-width: 900px;

// text-size
$p-44: 44px;
$p-36: 36px;
$p-33: 33px;
$p-32: 32px;
$p-28: 28px;
$p-24: 24px;
$p-22: 22px;
$p-20: 20px;
$p-18: 18px;
$p-16: 16px;
$p-14: 14px;
$p-13: 13px;
$p-12: 12px;
$p-10: 10px;
$p-5: 5px;

$border-radius: 50px;
$circle-height: 30px;

$btn-width: 200px;
$btn-width-m: 300px;

// Color
$white: #FFFFFF;
$silver: #AFAFAF;
$blue: #0095FF;
$darkblue: #0065AD;
$lightblue: #e6f2ff;
$mercury: #ffeecc;
$red: #FF0000;
$labelBlue: #272794;
$card_grey: #f2f2f2;
$darkblack: #201e2c;





